.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
.quarto
fishblicc.Rproj
Package_Creation.qmd
.check.env
temp.rda
tests
Cynoscion_virescens_SPR.rda
GuyanaSeatrout_ld.rda
Nephrops.rda
.RData
.Ruserdata
src/*.o
src/*.so
src/*.dll
*.zip
inst/stan/BLICC.rds